{%extends 'base.html'%}
{%block main_content%}
<form method="POST">{%csrf_token%}
    смена пароля
    </br>
    </br>
    <input name="old_password" class="form-control" placeholder="старый пароль" type="password">
    </br>
    </br>
    <input name="new_password1" class="form-control" placeholder="новый пароль" type="password">
    </br>
    </br>
    <input name="new_password2" class="form-control" placeholder="подтвердите пароль" type="password">
    </br>
    </br>
    {% for field in form %}
    {% for error in field.errors %}
    <p style="color:red">{{error}}</p>
    {% endfor %}
    {% endfor %}
    <button id="id_submit_btn" type="submit">Подвердить</button>
</form>
{%endblock%}